
#container {
  display: flex;
  justify-content: center;
  
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: rgb(62, 209, 209);
  
}

.random {
  position: relative;
  top: 10px;
  left: 70px;
  font-size: 60px;
}
